body{
  -moz-user-select:none; 
  -webkit-user-select:none;
  -ms-user-select:none; 
  -khtml-user-select:none; 
  user-select:none;
}
.c-wapper{
  position:relative;
  transform-origin:0px 0px;
  display:block;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.c-wapper canvas{
  width: 100%;
  height: 100%;
}
.c-dashboard{
  position:absolute;
  width:100%; height:100%;
  left:0px;top:0px;
  z-index:-9999;
  background-color: #2E85DC;
  background: #FFF url('./img/congruent_outline.png') repeat;
  background-size: 10%;
}
.c-widget{
  position: absolute;
  cursor: pointer;
  background-color: #fff;
}
.c-widget *{overflow: hidden;}
.c-widget-menu{
  padding: 5px 10px;
  background-color: #ff4081;
}
.c-dragover{

}
.c-dragover .c-wapper{
  opacity: 0.5;
}

.c-widget-active{
  /*background-color: #123;*/
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}





.c-widget-test{
  position: absolute;
  cursor: pointer;
  width: 300px;
  height: 300px;
}